<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <div class="question-text-inside">
        @<%= question.author.username %>
        <div class="user-image-div user-image-div-super-small">
          <%= link_to image_tag(user_avatar(question.author), class: 'user-image'), user_path(question.author) %>
        </div>
      </div>
      <div class="question-text-inside">
        "<%= question.text %>"
      </div>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <div class="question-text-inside">
          "<%= question.answer %>"
        </div>
        <div class="question-text-inside">
          @<%= current_user.username %>
          <div class="user-image-div user-image-div-super-small">
            <%= link_to image_tag(user_avatar(current_user), class: 'user-image'), user_path(current_user) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question), method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>
