<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Войти на сайт</h1>

  <div class="column-1-2">
    <div class="form">
      <%= form_with(url: log_in_path, scope: :session, local: true) do |f| %>
        <div class="form-field">
          <%= f.label :email, 'Логин (email)', class: 'form-label' %>
          <%= f.email_field :email, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :password, 'Пароль', class: 'form-label' %>
          <%= f.password_field :password, class: 'form-text-field' %>
        </div>

        <div class="form-action">
          <%= f.submit "Войти", class: 'button button-dark button-small' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
