<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Хорошие лицемеры</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="header">
        <div class="container">
          <div class="header-logo">
            <h1 class="header-title"><%= link_to "Хорошие вопросы", root_path %></h1>
          </div>
        </div>
      </div>

      <div class="content">
        <%# Вместо волшебной конструкции yield рельсы подставят то, что срендерит %>
        <%# шаблон для нужной нам страницы, например, users/show %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
